<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	{{!-- Reset browsers to initial conditions --}}
	<link rel="stylesheet" href="/assets/css/reset.css">

	{{!-- Bootstrap 4 minimum style sheet --}}
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

	{{!-- Fonts --}}
	<link href="https://fonts.googleapis.com/css?family=EB+Garamond" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Faster+One|Ledger|Noto+Sans+HK|Spectral+SC&display=swap" rel="stylesheet">

	{{!-- Various JavaScript libraries needed to make some of the Bootstrap styling work. --}}
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" crossorigin="anonymous"></script>

	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

	{{!-- Set app stylesheet --}}
	<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />

	<title>Burgers</title>

	<script src="/assets/js/burgers.js"></script>
	
</head>

<body>
	{{{body}}}
</body>

</html>